@font-face {
  font-family: "Gordita-Regular";
  src: url(/public/fonts/gordita-cufonfonts-webfont/Gordita\ Regular.woff);
}

@font-face {
  font-family: "Gordita-Medium";
  src: url(/public/fonts/gordita-cufonfonts-webfont/Gordita\ Medium.woff);
}

@font-face {
  font-family: "Gordita-Bold";
  src: url(/public/fonts/gordita-cufonfonts-webfont/Gordita\ Bold.woff);
}

:root {
  --background-color: black;
  --theme-color: #ff9900;
  --theme-color-button-hover: #fcad37;
  --font-color: white;
  --font-color-button-hover: rgb(250, 247, 247);
  --question-cards-background-color: #272727;
  --border-color: rgb(56, 56, 56);
}

html,
body {
  font-family: "Gordita-Regular";
  background-color: var(--background-color);
}

.App {
  background-color: var(--background-color);
}

/* SECTION 1 */
.main-content-1 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  color: var(--font-color);
  background: url("/public/images/earth-background.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 135px;
}

.logo-large {
  padding: 20px;
  font-size: 25px;
  color: var(--theme-color);
}

.sign-in {
  padding: 20px;
  cursor: pointer;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  font-size: 100px;
  font-family: "Gordita-Bold";
  text-align: center;
}

.slogan-elaboration {
  font-size: 20px;
  font-family: "Gordita-Regular";
  text-align: center;
  margin: 0 225px;
  padding: 16px 0;
}

.shop-1 {
  padding: 20px 15px;
  border-radius: 12px;
  border: 0;
  background-color: var(--theme-color);
  color: var(--font-color);
  font-family: "Gordita-Medium";
}

.shop-1 > span {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  font-size: 18px;
  width: 170px;
  height: 20px;
}

.shop-1:hover {
  background-color: var(--theme-color-button-hover);
  cursor: pointer;
}

.shop-1:active {
  background-color: var(--theme-color);
}

/* SECTION 2 */
.main-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.description-container-2 {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  padding: 0 30px;
}

.key-word-2 {
  font-size: 14px;
  color: var(--theme-color);
}

.title-2 {
  font-family: "Gordita-Bold";
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.description-2 {
  font-size: 20px;
}

.london {
  width: 362px;
  height: 544.445px;
  border-radius: 25px;
  filter: brightness(1.2) saturate(2) hue-rotate(5deg);
}

/* SECTION 3 */
.main-content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.paris {
  width: 362px;
  height: 544.445px;
  border-radius: 25px;
  margin-left: 30px;
  filter: brightness(1.2) saturate(1.2) hue-rotate(5deg);
}

.description-container-3 {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  padding: 0 30px;
}

.key-word-3 {
  font-size: 14px;
  color: var(--theme-color);
}

.title-3 {
  font-family: "Gordita-Bold";
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.description-3 {
  font-size: 20px;
}

/* SECTION 4 */
.main-content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.description-container-4 {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  padding: 0 30px;
}

.key-word-4 {
  font-size: 14px;
  color: var(--theme-color);
}

.title-4 {
  font-family: "Gordita-Bold";
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.description-4 {
  font-size: 20px;
}

.japan {
  width: 362px;
  height: 544.445px;
  border-radius: 25px;
  filter: brightness(1.2) saturate(2) hue-rotate(5deg);
}

/* SECTION 5 */
.main-content-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  color: var(--font-color);
  background-color: var(--theme-color);
}

.key-word-5 {
  font-size: 42px;
  font-family: "Gordita-Bold";
}

.description-5 {
  margin: 0 225px;
  padding: 16px 0;
  font-size: 20px;
}

.shop-2 {
  padding: 20px 15px;
  border-radius: 12px;
  border: 0;
  background-color: var(--font-color);
  color: var(--background-color);
  font-family: "Gordita-Medium";
}

.shop-2 > span {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  font-size: 18px;
  width: 170px;
  height: 20px;
}

.shop-2:hover {
  background-color: var(--font-color-button-hover);
  cursor: pointer;
}

.shop-2:active {
  background-color: var(--font-color);
}

/* SECTION 6 */
.main-content-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 135px;
  color: var(--font-color);
  min-height: 50vh;
}

.main-content-6 > div:first-child {
  font-size: 42px;
  margin-top: 20px;
  font-family: "Gordita-Bold";
}

.cards-container {
  display: flex;
  margin-top: 40px;
}

.help-center,
.community {
  display: flex;
  margin: 0 20px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--question-cards-background-color);
}

.help-center-text-title,
.community-text-title {
  font-size: 22px;
  margin-bottom: 6px;
  font-family: "Gordita-Bold";
}

.help-center > img,
.community > img {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

/* INFO */
.info {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  padding: 0 36px;
  font-size: 14px;
  min-height: 30vh;
  color: var(--font-color);
}

.logo-wrapper > img {
  width: 40px;
}

.logo {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-family: "Gordita-Medium";
  color: var(--font-color);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-info-container,
.products-info-container,
.community-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.company-info-container > div:first-child,
.products-info-container > div:first-child,
.community-info-container > div:first-child {
  font-size: 18px;
  font-family: "Gordita-Bold";
}

.company-info-container > :not(:first-child),
.products-info-container > :not(:first-child),
.community-info-container > :not(:first-child) {
  padding: 8px 0;
  cursor: pointer;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: var(--font-color);
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  border-top: solid var(--border-color) 0.1px;
  padding: 20px 36px;
  font-size: 12px;
}

.legal-information {
  display: flex;
  gap: 20px;
}

.legal-information > div {
  cursor: pointer;
}

a {
  color: var(--font-color);
}

@media screen and (max-width: 1440px) {
  .description-container-2,
  .description-container-3,
  .description-container-4 {
    width: 570px;
  }

  .help-center-text,
  .community-text {
    width: 339px;
  }
}
